body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00ffff4f; /* Color de fondo azul cian */
}

.container {
    text-align: center;
    background: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.option {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.option a {
    color: white;
    text-decoration: none;
}

.option:hover {
    background-color: #0056b3;
}
