body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffbe7d; /* Color de fondo azul cian */
}

.container {
    text-align: center;
    background: #fa9631;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.options {
    margin-bottom: 20px;
}

.option {
    background-color: #db6d00;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.option a {
    color: white;
    text-decoration: none;
}

.option:hover {
    background-color: #914800;
}

aside {
    width: 200px; /* Ajusta el ancho de los aside según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

aside img {
    max-width: 100%;
    height: auto;
}